// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2% 15% 2% 15%;
    margin: 0% 5%;
    border-bottom: 4px dashed lightgrey;

    .nav-logo {
        width: 25%;
        font-size: 54px;
    }

    .nav-menu {
        display: flex;
        width: 50%;
        justify-content: space-around;
        
        p {
            font-size: 20px;
        }
    }

    @media @mobile {
        flex-direction: column;
        padding: 4% 0% 0% 0%;

        .nav-logo {
            width: 100%;
            font-size: 32px;
            margin: 2%;
        }

        .nav-menu {
            display: flex;
            width: 100%;
            justify-content: space-around;
            
            p {
                font-size: 16px;
            }
        }
    }
}
